.PathFindingViz {
    max-width: 90% ;
    margin:  auto;
}
.path-grid {
    display: inline-grid;
}
.path-grid-rows {
    display: flex;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    flex-grow: 1;
    flex-basis: 60%;
    flex-wrap: wrap;
}