.arr-container {
  min-height: 0;
  justify-content: center;
  margin-top: 25px;
  margin-left: 5px;
}

.arr-ele {
  display: inline-block;
  width: 9px;
  margin: 1px;
}

.arr-compare {
  animation-name: compare;
  animation-duration: 2s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes compare {
  0% {
    background-color: blue;
  }

  50% {
    background-color: blue;
  }

  75% {
    background-color: blue;
  }

  100% {
    background-color: blue;
  }
}

.arr-swap {
  animation-name: swap;
  animation-duration: 2s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes swap {
  0% {
    background-color: red;
  }

  50% {
    background-color: red;
  }

  100% {
    background-color: red;
  }
}
